<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Release</key>
	<dict>
		<key>THEMOVIEDB_API_KEY</key>
		<string>INSERT_RELEASE_API_KEY_HERE</string>
	</dict>
	<key>Debug</key>
	<dict>
		<key>THEMOVIEDB_API_KEY</key>
		<string>INSERT_DEBUG_API_KEY_HERE</string>
	</dict>
</dict>
</plist>
