<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>THEMOVIEDB_IMAGE_PREFIX_URL</key>
	<string>https://image.tmdb.org/</string>
	<key>THEMOVIEDB_API_PREFIX_URL</key>
	<string>https://api.themoviedb.org/</string>
</dict>
</plist>
